
body {
  font-size: 2em;
  color: red;
}

.plot {
  height: 250px;
  width: 100%;
  path {
    fill-opacity: 0;
    stroke: black;
  }
}

.handle {
  cursor: ew-resize;
}

.yline {
  cursor: ew-resize;
  rect {
    fill-opacity: 0;
  }
}

.plateau-line {
  cursor: ns-resize;
  rect {
    fill-opacity: 0;
  }
}

.draggable-corner {
  cursor: nwse-resize;
  fill-opacity: 0;
}
